.btn {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  border:none;
  align-items: center;
  padding: 16px 32px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
  transition: var(--main-trs);
}

.btn--theme--dark {
  background: rgba(249, 249, 249, 0.15);
}
/* кнопка еще темнее оттенком */
.btn--theme--darker {
  color: var(--white);
  background: var(--dark-primary);
}

.btn--theme--light {
  color: var(--dark-primary);
  background: var(--light-grey);
}

.btn--theme--white {
  color: var(--dark-primary);
  background: var(--white);
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  outline: 2px dashed var(--dark-primary);
  outline-offset: var(--outline-offset);
}

@media(any-hover: hover) {
  .btn--theme--dark:hover {
    color: var(--dark-primary);
    background-color: var(--light-grey);
  }
}

.btn--theme--dark:active {
  color: var(--white);
  background-color: var(--dark-primary);
}

@media(any-hover: hover) {
  .btn--theme--light:hover {
    color: var(--white);
    background-color: var(--primary);
  }
}

.btn--theme--light:active {
  color: var(--white);
  background-color: var(--dark-primary);
}

@media(any-hover: hover) {
  .btn--theme--darker:hover {
    color: var(--white);
    background-color: var(--primary);
  }
}

.btn--theme--darker:active {
  color: var(--white);
  background-color: var(--light-grey);
}

@media(any-hover: hover) {
  .btn--theme--white:hover {
    color: var(--white);
    background-color: var(--primary);
  }
}

.btn--theme--white:active {
  color: var(--white);
  background-color: var(--dark-primary);
}
