@media(max-width: 1280px) {
  .product-info__image img {
    width: 500px;
  }
}

@media(max-width: 1024.98px) {
  .header__bottom {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-100%);
    transition: visibility 0.3s ease, transform 0.3s ease;
  }

  .header__bottom--active {
    visibility: visible;
    transform: none;
  }

  .header__bottom-container {
    justify-content: flex-start;
  }

  .nav {
    padding: 20px 40px;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero__content {
    flex-direction: column;
  }

  .hero__image {
    display: none;
  }

  .benefits__list {
    row-gap: var(--gap);
  }

  .benefits__item {
    grid-column: 6 span;
  }

  .products__item {
    grid-column: 6 span;
  }

  .product__top {
    width: 100%;
  }

  .product__image {
    width: 100%;
  }

  .products__list {
    row-gap: var(--gap);
  }

  .footer__column {
    grid-column: 6 span;
  }

  .footer__top {
    row-gap: var(--gap);
  }

  .footer__form {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .catalog__products {
    --elem: 2;
  }

  .product-info__content {
    flex-direction: column;
    gap: 40px;
  }

  .product-info__text {
    padding-top: 0;
  }

  .product-info__image {
    display: flex;
    justify-content: center;
  }

  .product-info__image img {
    width: 607px;
  }

  .cart__content {
    padding: 35px;
  }

  .card__row.cart__row--heading .cart__col--quantity {
    padding-left: 30px;
  }

  .cart__col--quantity {
    padding-left: 0;
  }

  .burger {
    display: block;
  }
}

@media(max-width: 767.98px) {
 
  :root {
    --container-offset: 24px;
    --gap: 16px;
  }

  .header__list {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 55px;
    padding-top: 24px;
    gap: 44px;
  }

  .hero {
    padding: 0;
  }

  .header__top {
    padding: 25px 0;
  }

  .hero .container {
    padding: 0;
  }

  .hero__text {
    padding: 40px 24px;
  }

  .hero__title {
    margin-bottom: 80px;
  }

  .hero__link {
    margin-top: 32px;
    order: 3;
  }

  .btn {
    width: 100%;
  }

  .benefits {
    padding-top: 48px;
    padding-bottom: 35px;
  }

  .benefits .container {
    padding: 0 24px;
  }

  .title {
    max-width: 270px;
  }

  .title--small {
    font-size: 20px;
    line-height: 140%
  }

  .title--center {
    text-align: left;
  }

  .title--mb-large {
    margin-bottom: 36px;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .benefits__item {
    grid-column: 4 span;
  }

  .benefits__subtitle {
    font-size: 16px;
    line-height: 140%
  }

  .benefits__description {
    font-size: 14px;
    line-height: 150%;
  }

  .products {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .products .container {
    padding: 0 24px;
  }

  .title--large {
    font-size: 20px;
  }

  .title--mb-small {
    margin-bottom: 20px;
  }

  .products__item {
    grid-column: 2 span;
  }

  .product__image {
    height: 200px;
  }

  .products__list--mobile-slider {
    display: flex;
    width: calc(100% + var(--container-offset));
    overflow-x: auto;
  }

  .products__list--mobile-slider .products__item {
    width: 200px;
    flex-shrink: 0;
  }

  .newsletter {
    padding: 0;
    background-color: var(--white);
  }

  .newsletter__content {
    align-items: flex-start;
    padding: 48px 9px;
  }

  .title--large--xl {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
  }

  .newslett__title {
    max-width: none;
  }

  .newsletter__description {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: left;
  }

  .form__input {
    width: 224px;
  }

  .form__btn {
    width: auto;
    padding: 16px 22px;
  }

  .about__content {
    flex-direction: column;
  }

  .about__info {
    padding: 48px 24px;
    padding-bottom: 38px;
    width: 100%;
  }

  .about__image {
    width: 100%;
    height: 358px;
  }

  .about__btn {
    margin-top: 64px;
  }

  .footer__column {
    grid-column: 2 span;
  }

  .footer__column--big {
    grid-column: 4 span;
  }

  .social {
    display: none;
  }

  .footer {
    padding-top: 40px;
  }

  .footer__top {
    row-gap: 40px;
    padding-bottom: 12px;
  }

  .footer__form {
    flex-direction: row;
    align-items: center;
    gap: 0;
  }

  .footer__bottom {
    justify-content: center;
  }

}