.notice {
	position: relative;
	background: var(--dark-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 10px 16px;
	font-weight: 400;
	font-size: 14px;
	color: var(--white);
}

.notice--hidden {
	display: none;
}

.notice__close {
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);

}